/* Start of General CSS Selectors */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --black: #131313;
    --white: #eeeeee;
    --gray-border: #222222;
    --gray-bg: #171717;
    --gray-font: #808080;
    --blue: #a5d3fd;

    --sidebar-height: calc(100vh - 48px);
    --footer-width: calc(100vw - 48px);
    --nav-height: calc(100vh - 96px);

    --steps: 20;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #000000; */
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    
    position: relative;

    background-color: var(--black);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Hind', sans-serif;
}

h1 {
    font-size: 24px;
}

strong {
    color: var(--blue)
}

/* End of General CSS Selectors  */

/* Start of Mobile First Design */
nav {
    position: fixed;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--gray-bg);
    border-bottom: 1px solid var(--gray-border);

    height: 48px;
    width: 100vw;
}

.nav-logo {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
    border-right: 1px solid var(--gray-border);

    width: 200px;
}

.nav-btn {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    color: var(--gray-font);

    border-left: 1px solid var(--gray-border);
}

.nav-btn img {
    width: 16px;
    height: auto;
    filter: invert(50%);
}

aside {
    position: fixed;
    top: 48px;
    right: 0;
    
    background-color: var(--gray-bg);
    border-left: 1px solid var(--gray-border);

    width: 48px;
    height: var(--sidebar-height);

}

.aside-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    margin-top: 16px;
}

.aside-icons img{
    display: block;
    filter: invert(50%);

    width: 16px;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    
    background-color: var(--gray-bg);
    border-top: 1px solid var(--gray-border);

    width: 100vw;
    height: 48px;

    display: flex;
    justify-content: space-between;
}

.footer-scroll-to-top {
    border-left: 1px solid var(--gray-border);

    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-scroll-to-top img {
    display: none;  
    filter: invert(80%);

    width: 16px;
    height: auto;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    font-size: 10px;
    width: var(--footer-width)
}

.footer-copyright img {
    display: block;
    filter: invert(50%);

    width: 12px;
    height: auto;
}

.nav-menu {
    background-color: var(--gray-bg);
    border-style: solid;
    border-width: 1px;
    border-right: 0;
    border-color: var(--blue); 

    width: 100vw;
    height: var(--nav-height);

    position: fixed;
    top: 48px;
    z-index: 1;

    background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 50%, rgba(19,19,19,1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.2s;
}

.nav-menu.show {
    transition: all 0.2s;
    transform: translateX(0%);
}

.nav-list { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

    list-style: none;

    font-size: 24px;
}

nav a, .nav-list a, a {
    text-decoration: none;
    color: var(--white)
}

a:visited {
    color: var(--white)
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 48px 48px 48px 0;
}

.landing {
    min-height: var(--nav-height);
    max-width: var(--footer-width);

    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 24px;
}

.landing-page span {
    font-size: 24px;
}

.landing a {
    align-self: center;
}

#down-arrow {
    width: 24px;
    height: auto;

    filter: invert(50%);

    position: absolute;
    bottom: 4px;

    animation: beat 1s ease-in 0s infinite normal none;
}

#landing-name {
    margin-top: 16px;
}

#landing-type {
    font-family: monospace;
    position: relative;
}

#landing-type::before,
#landing-type::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#landing-type::before {
    background-color: var(--black);
    animation-name: type-in;
    animation-duration: 2s;
    animation-timing-function: steps(var(--steps));
    animation-fill-mode: forwards;
}

@keyframes type-in {
    0% {
        right: 0%;
    }
    100% {
        left: 100%;
        border: 0;
    }
}

@keyframes beat {
    0% {
      animation-timing-function: ease-in;
      transform: translateY(-16px);
    }

    100% {
      animation-timing-function: ease-in;
      transform: translateY(0px);
    }
}

#about {
    background-color: var(--gray-bg);

    min-height: var(--nav-height);
    max-width: var(--footer-width);

    display: flex;
    flex-direction: column;
    padding: 48px 24px 0 24px;
}

.about-name {
    height: calc(var(--footer-width) - 24px);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 8px 8px 8px;
    margin-bottom: 24px;

    background: url(http://placekitten.com/400/400) no-repeat;
}

.about-name>h1 {
    margin-top: 16px;
    line-height: 20px;
}

.about-name>h1+p{
    font-size: 12px;
}

.about-desc {
    line-height: 24px;
    font-size: 14px;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 24px;
}

.about-desc a, a[href="https://www.theodinproject.com/"] {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.about-certs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    gap: 24px;
}

.about-tech-stack {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.about-tech-stack img {
    height: 64px;
    width: 64px;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tech-stack-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#project {
    background-color: var(--black);

    min-height: var(--nav-height);
    max-width: var(--footer-width);

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 24px;
}

.project-items { 
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;

    background-color: var(--gray-bg);
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 12px 0;

    border: 1px solid var(--gray-border);
    background-color: var(--black);

    font-size: 14px;
}

.item img {
    height: 20%;
}

.icons img {
    height: 24px;
    width: 24px;
}

.desc, .links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.desc p {
    font-size: 14px;
}

#contact {
    background-color: var(--gray-bg);

    min-height: var(--nav-height);
    max-width: var(--footer-width);

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 24px;
}

.contact-page {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
}

.contact {
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    padding: 12px;

    border: 1px solid var(--gray-border);
}

.contact sub {
    font-size: 12px;
}

.contact-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-title img {
    filter: invert(50%);
    height: 16px;
    width: auto;
}

/* End of Mobile First Design */

/* Media Queries */

/* Start of Responsive Design for Mobile M W-375 */
/* End of Responsive Design for Mobile M W-375 */