* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --black: #131313;
    --white: #eeeeee;
    --gray-border: #222222;
    --gray-bg: #171717;
    --gray-font: #808080;
    --gold: #b8860b;

    --sidebarHeight: calc(100vh - 48px);
}

body {
    /* background-color: #000000; */
    font-family: 'Montserrat', sans-serif;
    color: var(--white)
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Hind', sans-serif;
}

strong {
    color: var(--gold)
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--gray-bg);
    border-bottom: 1px solid var(--gray-border);

    height: 48px;
}

.nav-logo {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
    border-right: 1px solid var(--gray-border);

    width: 200px;
}

.nav-btn {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    color: var(--gray-font);

    border-left: 1px solid var(--gray-border);
}

.nav-btn img {
    width: 16px;
    height: auto;
    filter: invert(50%);
}

aside {
    position: absolute;
    right: 0;
    
    background-color: var(--gray-bg);
    border-left: 1px solid var(--gray-border);

    width: 48px;
    height: var(--sidebarHeight);

}

.aside-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    margin-top: 16px;
}

.aside-icons img{
    display: block;
    filter: invert(50%);

    width: 16px;
    height: auto;
    
}